@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Assign an Engineer to @Model.Model</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.Label("Select an engineer")
  @Html.DropDownList("EngineerId")
  <input type="submit" value="Edit" class="btn btn-warning"/>
}

<button class="btn btn-dark">@Html.ActionLink("Go back", "Details", new { id = @Model.MachineId })</button>