@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1 class="text-center">Machine: @Model.Model</h1>
<h3>Minimum Engineers Needed: @Model.MinEngineerCount</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <h4>@Model.Model does not currently have any engineers assigned to it</h4>
}
else
{
  <h3>Machines:</h3>
  <ol>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name</li>
      @using (Html.BeginForm("DeleteEngineer", "Machines"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" class="btn btn-danger"/>
      }
    }
  </ol>
}

<div class="row">
  <div class="col-2 offset-2">
    <button class="btn btn-dark">@Html.ActionLink("Edit machine", "Edit", new { id = @Model.MachineId })</button>
  </div>
  <div class="col-2">
    <button class="btn btn-danger">@Html.ActionLink("Delete machine", "Delete", new { id = @Model.MachineId })</button>
  </div>
  <div class="col-2">
    <button class="btn btn-dark">@Html.ActionLink("Add engineer", "AddEngineer", new { id = @Model.MachineId })</button>
  </div>
  <div class="col-2">
      <button class="btn btn-dark">@Html.ActionLink("Back home", "Index", "Engineers")</button>
  </div>
</div>

