@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class="form-control", @required="required"})

  @Html.LabelFor(model => model.Level)
  @Html.DropDownListFor(model => model.Level, new SelectList(Enum.GetValues(typeof(Level))), "Select Level:", new { @class = "form-control", @required="required"})

  @Html.Label("Select Machine Model: ")
  @Html.DropDownList("MachineId")
  <input type="submit" value="Create" class="btn btn-success"/>
}

<button class="btn btn-dark">@Html.ActionLink("Back to home", "Index")</button>