@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer
<h1 class="text-center create-h1">Create Engineer</h1>
<div class="row">
  <div class="col-6 offset-3">
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { @class="form-control", @required="required"})

      @Html.LabelFor(model => model.Level)
      @Html.DropDownListFor(model => model.Level, new SelectList(Enum.GetValues(typeof(Level))), "Select Level:", new { @class = "form-control mb-3", @required="required"})

      @Html.Label("Select Machine Model: ")
      @Html.DropDownList("MachineId")
      <input type="submit" value="Create" class="btn btn-success create-btn"/>
    }
  </div>
</div>


<button class="btn btn-dark create-btn">@Html.ActionLink("Back to home", "Index")</button>