@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Are you sure you want to delete Engineer: @Model.Name<h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-danger" />
}

<button class="btn btn-dark">@Html.ActionLink("Go back", "Details", new { id = @Model.EngineerId })</button>